@import "tailwindcss";

:root {
	/* Light theme colors (default) */
	/* Primary Colors */
	--color-primary-700: #0e880;
	--color-primary-600: #1460aa;
	--color-primary-500: #1978d4;
	--color-primary-400: #3a91e0;
	--color-primary-300: #70b5df;
	--color-primary-200: #b5d6f5;
	--color-primary-100: #ddedfd;

	/* Neutral Colors */
	--color-neutral-900: #0a3055;
	--color-neutral-800: #1a4a6e;
	--color-neutral-700: #2a607f;
	--color-neutral-600: #3d7790;
	--color-neutral-500: #7398a6;
	--color-neutral-400: #8fa1a8;
	--color-neutral-300: #adbcc1;
	--color-neutral-200: #c8d3d6;
	--color-neutral-100: #dde3e5;
	--color-neutral-50: #ecf0f1;
	--color-white-surface: #fefefe;

	/* Accent Colors */
	--color-accent-700: #3a4580;
	--color-accent-600: #48579e;
	--color-accent-400: #5c6bc0;
	--color-accent-300: #7986cc;
	--color-accent-200: #c5caf0;
	--color-accent-100: #e6e9ff;

	/* Original colors */
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark theme colors */
		/* Primary Colors */
		--color-primary-700: #154669;
		--color-primary-600: #1d5c87;
		--color-primary-500: #2574a9;
		--color-primary-400: #3a90c9;
		--color-primary-300: #70b5df;
		--color-primary-200: #a8d3ed;
		--color-primary-100: #dff3ff;

		/* Neutral Colors */
		--color-neutral-900: #05182a;
		--color-neutral-800: #0a2539;
		--color-neutral-700: #0f3249;
		--color-neutral-600: #163f5a;
		--color-neutral-500: #34515e;
		--color-neutral-400: #4d6e7c;
		--color-neutral-300: #6b8d9c;
		--color-neutral-200: #8fabb8;
		--color-neutral-100: #bdc3c7;
		--color-neutral-50: #ecf0f1;

		/* Accent Colors */
		--color-accent-700: #0b756b;
		--color-accent-600: #0e9488;
		--color-accent-400: #37b5aa;
		--color-accent-300: #7dd3cb;
		--color-accent-200: #b9f1ec;
		--color-accent-100: #dbfffc;

		/* Original colors */
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
